h3{
	margin-top: -20px;
}
#validation{
	float: left;
	width: 30%;

}
.input-top{
	width: 80% !important;
}
input{
	width: 70% !important;
}
.form{
	float: right;
	height: 700px;
	width: 70%;
}
.alert-top{
	width: 80%;
	height: 10%;
}
#divmain3{
	width: 80%;
	margin: auto;
	border-style: ridge;
}
#divmain1{
	width: 70%;
	margin-right: auto;
	margin-left: 30%;
	margin-bottom: : auto;
	margin-top: auto;
	border-style: ridge;	
}
#divheader{
	width: 80%;
	position: relative;
	margin: auto;
	background-color: red;
	margin-bottom: : -5px;
}
#divsamp{
	width: 30%;
	height: 150px;

}
.li-table{
	cursor: pointer; cursor: hand;
}