h3{
	margin-top: -20px;
}
#validation{
	float: left;
	width: 30%;

}
.input-top{
	width: 80% !important;
}
input{
	width: 70% !important;
}
.form{
	float: right;
	height: 700px;
	width: 70%;
}
.alert-top{
	width: 80%;
	height: 10%;
}
#divmain3{
	width: 80%;
	margin: auto;
	border-style: ridge;
}
#divmain2{
	width: 80%;
	margin: auto;
	background-color: #D3D3D3;

}
#divmain1{
	width: 70%;
	margin-right: auto;
	margin-left: 30%;
	margin-bottom: : auto;
	margin-top: auto;
	border-style: ridge;	
}
#divheader{
	width: 80%;
	position: relative;
	margin: auto;
	background-color: red;
	margin-bottom: : -5px;
}
#divsamp{
	width: 30%;
	height: 200px;

}
.li-table{
	cursor: pointer; cursor: hand;
}
.lihover{
	cursor: pointer; cursor: hand;
}
.class1{
	width: 30px;
}
.btn-style:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*.checkboxbut{
	position: absolute;
}*/
.viewtxtbox{
	width: 100% !important;
}
.class2{
	width: 100% !important;
}
#viewmemberdiv{
	width: 80%;
}
.red{
	background-color: #ff9999;
}