<head>
    <link href="css/content/transaction.css" rel="stylesheet">
    <link href="css/content/font.css" rel="stylesheet">
</head>

<div id="main">

<h3>Attendants</h3>
<br>

<div class="table-responsive" style="width: 500px; margin: auto;
  border-style: ridge;">
<table class="table table-hover">
  <thead>
      <div style="background-color: #2E8B57;width: 100%; height: 50px;">
         
      </div>
  </thead>
  <thead>
    <tr style="background-color: #D3D3D3">
      <th></th>
      <th>Attendant Name</th>
      <th>Allowance</th>
      <th></th>
    </tr>
  </thead>
  <tbody ng-repeat="data in attendants">
    <tr ng-click="onclick(data)">
      <th scope="row">
        <i class="fa fa-chevron-right" aria-hidden="true" ng-if=!data.show></i>
        <i class="fa fa-chevron-down" aria-hidden="true" ng-if=data.show></i>
        </th>
      <td ng-bind="data.attendant_name" class="li-table"></td>
      <td ng-bind="data.allowance" class="li-table"></td>
      <td><button ng-click="delatt(data)" type="button" class="btn btn-danger btn-xs">Delete</button></td>
    </tr>
    <tr ng-show=data.show>
      <td colspan="4">
        <div>
            <span>Attendant Name</span><input class="input form-control" type="text" name="" ng-model="attname" ng-init="">

            <span>Allowance</span><input class="input form-control" type="text" name="" ng-model="attallowance" ng-init="">

            <button ng-click="editAtt(data,attname,attallowance)" type="button" class="btn btn-success btn-md" style="margin-left: 80%; margin-top: -100px;" ng-if="attname || attallowance">Save</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

</div>