<div class="modal-header">
	<h3 class="modal-title">Transaction Complete</h3>
</div>
<div class="modal-body">
<!-- 	<span><b>Member Name:</b> {{MemberName}}</span><br>
	<span><b>Membership Type:</b> {{MemberType}}</span><br>
	<span><b>Branch:</b> {{MemberType}}</span><br>
	<span><b>Service Type:</b> {{MemberType}}</span><br>
	<span><b>Membership Type:</b> {{MemberType}}</span><br>
	<span><b>Membership Type:</b> {{MemberType}}</span><br>
	<span><b>Membership Type:</b> {{MemberType}}</span><br>
	<span><b>Membership Type:</b> {{MemberType}}</span><br>
	<span><b>Membership Type:</b> {{MemberType}}</span><br> -->
	<ul>
		<li><span><b>Member Name:</b> {{MemberName}}</span></li>
		<li><span><b>Membership Type:</b> {{MemberType}}</span></li>
		<li><span><b>Branch:</b></span></li>
		<li><span><b>Service Type:</b></span>
			<ul>
				<li>Sample</li>
			</ul>
		</li>
		<li><span><b>Add-Ons:</b></span></li>
		<li><span><b>Attendant:</b></span></li>
	</ul>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button"
	ng-click="close()">OK</button>
</div>